### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule bank-application index.html
RewriteRule add-account addAccount.html
RewriteRule add-new-client addNewClient.html
RewriteRule deposit-money deposit.html
RewriteRule information-about-bank informationAboutBank.html
RewriteRule clients-panel logedin.html
RewriteRule remove-account removeAccount.html
RewriteRule remove-client removeClient.html
RewriteRule set-active-account setActiveAccount.html
RewriteRule transfer-money transfer.html
RewriteRule withdraw-money withdraw.html